.footer {
	text-align: center;
	background-color: #007849;
	color: #ffffff;
	height: 45px;
	display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__text {
	display: block;
	margin-left: auto;
	margin-right: auto;
}