<div class="wrapper">
  <div class="sidebar">
    <div class="title">
      Sidebar
    </div>
    <ul class="nav">
      <li>
        <a>Dashboard</a>
      </li>
      <li>
        <a>Statistics</a>
      </li>
      <li>
        <a class="active">Milestones</a>
      </li>
      <li>
        <a>Experiments</a>
      </li>
      <li>
        <a>Previews</a>
      </li>
      <li>
        <a>Assets</a>
      </li>
      <li>
        <a>Settings</a>
      </li>
      <li>
        <a>Logout</a>
      </li>
    </ul>
  </div>
  <div [(ngClass)]="buttonClasses">
    <a class="button" (click)="sideBarShow()"></a>
  </div>
</div>