<section class="social-share">
	<button class="fb" (click)="openURLInNewWindow('http://www.facebook.com/sharer.php?u=http://www.share.url.html', 600, 400)"><i class="fa fa-facebook-square" aria-hidden="true"></i></button>
	<button class="twitter" (click)="openURLInNewWindow('http://twitter.com/home?status=http://www.share.url.html', 600, 400)"><i class="fa fa-twitter-square" aria-hidden="true"></i></button>
	<button class="gplus" (click)="openURLInNewWindow('https://plus.google.com/share?url=http://www.share.url.html', 600, 400)"><i class="fa fa-google-plus-square" aria-hidden="true"></i></button>
</section>