<app-slider></app-slider>
<section class="grid icons__section">
  <div class="grid__row grid__row--md">
    <div class="grid__item">
      <i class="fa fa-handshake-o" aria-hidden="true"></i>
      <h2>Free to use for all team</h2>
      <p>Use our free service for best project management experience</p>
    </div>
    <div class="grid__item">
      <i class="fa fa-calendar" aria-hidden="true"></i>
      <h2>Visualize your work</h2>
      <p>Flow board gives you an excellent overview of your current work situation</p>
    </div>
    <div class="grid__item">
      <i class="fa fa-users" aria-hidden="true"></i>
      <h2>Collaborate in real-time</h2>
      <p>Any changes you make on your board are instantly available to all members</p>
    </div>
    <div class="grid__item">
      <i class="fa fa-bar-chart" aria-hidden="true"></i>
      <h2>Analytics and reporting</h2>
      <p>Spot bottlenecks in your workflow with the Cumulative Flow</p>
    </div>
  </div>
</section>
<section class="grid benefit-section">
  <div class="grid__row grid__row--lg">
    <div class="grid__item text">
      <div>
        <h2>Forget about paper stickers, try to be a friend of Flow board</h2>
        <p>With Flow board you can create any number of boards and task stickers as you want. You can track status of work process and migrate stickers from one board to another as you want.</p>
        <p>You never miss to buy some new package of paper stickers, because you didn't need it anymore, it is wonderful, is it?</p>
      </div>
    </div>
    <div class="grid__item image">
      <img src="./assets/sticky-notes.jpg" alt="Sticker board">
    </div>
  </div>
</section>
<section class="grid benefit-section">
  <div class="grid__row grid__row--lg">
    <div class="grid__item image">
      <img src="./assets/devices.jpg" alt="devices">
    </div>
    <div class="grid__item text">
      <div>
        <h2>Collaborate in real-time, anywhere from any devices</h2>
        <p>Any changes you make on your Flow Job Trak System board are instantly available to all members of the team.</p>
        <p>Away from your desktop? Stay up-to-date with you mobile or tablet device. Always know what your team is working on at any moment, anywhere.</p></div>
      </div>
  </div>
</section>
<section class="grid sign-up">
  <div class="grid__row grid__row--md">
    <div class="grid__item sign-up__text">
      <h2 class="sign-up__title">Sign up for free!</h2>
    </div>
    <div class="grid__item sign-up__form">
      <form routerLink="registration">
        <input class="sign-up__form__email" type="text" placeholder="Email">
        <button class="sign-up__form__button" name="signup">Sign up</button>
      </form>
    </div>
  </div>
</section>
<section class="grid testimonial">
  <h2 class="testimonial__title">Our users recommend us</h2>
  <div class="grid__row grid__row--lg">
    <div class="grid__item">
      <div class="testimonial__photo testimonial__photo--1"></div>
      <h3 class="testimonial__position">Top manager of SuperCorp</h3>
      <p class="testimonial__text">Flow Job Tracking system is really good application for management of my team by kanban methodology. After one month of using, our efficiency has increased almost in twice. Thanks a lot.</p> 
    </div>
    <div class="grid__item">
      <div class="testimonial__photo testimonial__photo--2"></div>
      <h3 class="testimonial__position">Top manager of MegaCorp</h3>
      <p class="testimonial__text">Flow Job Tracking system is really good application for management of my team by kanban methodology. After one month of using, our efficiency has increased almost in twice. Thanks a lot.</p>
    </div>
    <div class="grid__item">
      <div class="testimonial__photo testimonial__photo--3"></div>
      <h3 class="testimonial__position">Top manager of TerraCorp</h3>
      <p class="testimonial__text">Flow Job Tracking system is really good application for management of my team by kanban methodology. After one month of using, our efficiency has increased almost in twice. Thanks a lot.</p>
    </div>
  </div>
</section>