<h1 class="title">Board creation. Now your team have total {{ boardCount }} boards</h1>
<section class="boards">
  <article class="board" *ngFor="let board of boards; let i = index">
    <div class="board__text">
      <img class="board__destroy" src="./assets/close_red.png" alt="remove board" (click)="removeBoard(i)">
      <h3 class="board__title">{{ board }}</h3>
    </div>
  </article>
  <article class="board">
    <div class="board__text">
      <h3 class="board__title">Add new board:</h3>
      <form>
        <input type="text" class="board__input" name="board" placeholder="Enter new board name" [(ngModel)]="boardName">
        <input type="submit" class="board__btn" [value]="btnText" (click)="addBoard()" [disabled]="boardName.length < 3">
      </form>
    </div>
  </article>
</section>