<h1>Board creation. Now you have total {{ boardCount }} boards</h1>
<section class="cards">
  <article class="card" *ngFor="let board of boards; let i = index">
    <div class="text">
      <img src="./assets/close_red.png" alt="remove board" (click)="removeBoard(i)">
      <h2>{{ board }}</h2>
    </div>
  </article>
  <article class="card">
    <div class="text">
      <h2>Add new board:</h2>
      <form>
        <input type="text" class="txt" name="board" placeholder="Enter new board name" [(ngModel)]="boardName">
        <input type="submit" class="btn" [value]="btnText" (click)="addBoard()">
      </form>
    </div>
  </article>
</section>